.type {
    /*display: inline-block;
    */overflow: hidden;
    white-space: nowrap;
    animation: typeWrite 5s linear 0s infinite alternate;
    -webkit-animation: typeWrite 5s linear 0s infinite alternate;
}
.type2 {
    /*display: inline-block;
    */overflow: hidden;
    white-space: nowrap;
    animation: typeWrite 4s linear 0s infinite alternate;
    -webkit-animation: typeWrite 4s linear 0s infinite alternate;
}
  @keyframes typeWrite {
    from {
      width: 0;
    }
    to {
      width:425px;
    }
  }

  .boxPhoto {
         text-shadow: 0 1px 0 #000;
         --border-angle: 0turn;
         --main-bg: conic-gradient(     from var(--border-angle),     #213,     #112 5%,     #112 60%,     #213 95%   );
         border: solid 5px transparent;
         border-radius: 2em;
         --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, rgb(235, 235, 127), rgb(235, 224, 226) 99%, transparent);
         background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
         background-position: center center;
         -webkit-animation: bg-spin 5s linear infinite;
         animation: bg-spin 5s linear infinite;
         -webkit-border-radius: 2em;
         -moz-border-radius: 2em;
         -ms-border-radius: 2em;
         -o-border-radius: 2em;
}
@-webkit-keyframes bg-spin {
 to {
   --border-angle: 1turn;
 }
}
@keyframes bg-spin {
 to {
   --border-angle: 1turn;
 }
}
.boxPhoto:hover {
 -webkit-animation-play-state: paused;
         animation-play-state: paused;
}

@property --border-angle {
 syntax: "<angle>";
 inherits: true;
 initial-value: 0turn;
}

.faReact{
 animation: spin 2000ms ease-in-out infinite both ;
 -webkit-animation: spin 2000ms ease-in-out infinite both ;

 animation-delay: 0ms;
}

.faReact:hover{
  animation-play-state: paused;
}

@-webkit-keyframes spin {
  /* from{
   transform: rotate(0);
   -webkit-transform: rotate(0);
   -moz-transform: rotate(0);
   -ms-transform: rotate(0);
   -o-transform: rotate(0);
} */
  to {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
}
 }